:root{
    --main-text: rgb(81, 31, 173);
}

body{
    font-family: Jetbrains Mono NF, monospace;
    background-color: #001400;
    background-image: repeating-linear-gradient(
        to bottom,
        #001400 0 6px,
        #003800 6px 7px
    );
    background-attachment: fixed;
    color: var(--main-text);;
}

div.container {
    background-color: #000000;
    padding-bottom: 10px;
}
div.container h1 {
    padding: 10px;
}
section#webring{
    margin-top: 10px;
}
#theme-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 999;
}

p {
    margin-left: 40px;
}

#project, .title, #legend{
    margin-left: 20px;
}

li {
    list-style-type: none;
    margin-left: 20px;
}

section#projects a, ul#downloads  a{
    color: var(--main-text);
    text-decoration: none;
    display: block;
    padding-bottom: 5px;
}

section#projects a:hover, ul#downloads a:hover {
    text-decoration: dashed underline;
    text-underline-offset: 8px;
    text-decoration-color: rgb(115, 255, 0);
}

#webring nav {
    text-align: center;
}

#webring nav a {
    display: inline-block;
}